*{
    font-family: 'Segoe UI';
    padding: 0px;
    margin: 0px;
}

body{
    background: lightgray;
}

.audio_container{
    width: 35%;
    margin: 10px auto 0px;
    background: white;
    padding: 20px 5px;
    box-shadow: 0px 1px 2px 0px gray;
    display: flex;
}

.image{
    border-right: 1px solid gray;
    margin: 10px 0px;
}

#song_image{
    margin: 0px 10px;
    padding: 0px 10px;
}

.controls{
    width: 100%;
}

.buttons{
    width: 50%;
    margin: 0px auto 0px;
}

.control-button{
    cursor: pointer;
    border: 1px solid lightgray;
    padding: 5px;
}

table tr td{
    padding: 2px 10px;
}

.duration{
    box-shadow: 0px 1px 2px 0px gray;
    width: 90%;
    margin: 10px auto;
    text-align: center;
}

#autoplay, #shuffle{
    margin: auto 10px;
}

#duration{
    background: rgb(113, 121, 238);
    color: rgb(113, 121, 238);
    text-align: center;
    width: 100%;
}

#songname{
    background:lightgray;
    width: 100%;
    text-align: center;
}

.songlist{
    width: 35%;
    margin: 01px auto;
    padding: 5px;
    background: white;
    box-shadow: 0px 1px 2px 0px gray;
}

#list{
    list-style: none;
}

#list li{
    padding: 5px;
    margin: 5px;
    border-bottom: 1px solid lightgray; 
}

.toggle-list{
    display: flex;
    width: 100%;
}

.toggle-list h3{
    margin: 0px 5px;
}

.toggle-list img{
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 5px 0px;
}

footer{
    position: relative;
    bottom: 0%;
    left: 0%;
    border-top: 1px ridge gray;
    padding: 5px 0px;
    margin: 10px auto 0px;
    width: 100%;
    background: lightgray;
    text-align: center;
}

@media (min-width:320px) and (max-width:480px){
    .audio_container{
        width: 90%;
    }

    .buttons{
        width: 80%;
    }

    .songlist{
        width: 90%;
    }

    footer{
        position: relative;
    }

    .duration{
        box-shadow: 0px 0.5px 2px 0px gray;
    }
}
