* {
  font-family: "Segoe UI";
  padding: 0px;
  margin: 0px;
}

body {
  background: lightgray;
}

.audio_container {
  width: 35%;
  margin: 10px auto 0px;
  background: white;
  padding: 20px 5px;
  box-shadow: 0px 1px 2px 0px gray;
  display: flex;
}

.image {
  border-right: 1px solid gray;
  margin: 10px 0px;
}

#song_image {
  margin: 0px 10px;
  padding: 0px 10px;
}

.controls {
  width: 100%;
}

.buttons {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}

.control-button {
  cursor: pointer;
  border: 1px solid lightgray;
  margin: 0px auto;
  padding: 5px;
}

table tr td {
  padding: 2px 10px;
}

.duration {
  box-shadow: 0px 1px 2px 0px gray;
  width: 90%;
  margin: 10px auto;
  text-align: center;
}

.songoperations {
  background: lightgray;
  display: flex;
  justify-content: center;
}

.autoplay,
.shuffle,
.volume {
  display: flex;
  margin: 0px 10px;
}

.volume-media {
  display: none;
  background: lightgray;
}

#autoplay,
#shuffle,
#volume {
  margin: 0px 5px;
  cursor: pointer;
}

#slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: rgb(163, 152, 221);
  margin: 10px 0px;
  height: 10px;
  border-radius: 10px;
  outline: none;
  width: 95%;
  cursor: pointer;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: black;
  cursor: pointer;
  width: 3%;
  height: 15px;
  border-radius: 10px;
}

#slider::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  background: black;
  cursor: pointer;
  width: 3%;
  height: 15px;
  border-radius: 10px;
}

#slider::-webkit-slider-thumb:hover {
  height: 20px;
}

#slider::-moz-range-thumb:hover {
  height: 20px;
}

#volume,
#volume-media {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: rgb(163, 152, 221);
  margin: auto 5px;
  height: 5px;
  border-radius: 10px;
  outline: none;
  width: 75%;
  cursor: pointer;
}

#volume::-webkit-slider-thumb,
#volume-media::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid black;
  background: white;
  cursor: pointer;
  width: 8%;
  height: 10px;
  border-radius: 10px;
}

#volume::-moz-range-thumb,
#volume-media::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  border: 2px solid black;
  background: white;
  cursor: pointer;
  width: 8%;
  height: 10px;
  border-radius: 10px;
}

#songname {
  background: lightgray;
  width: 100%;
  margin: 0px;
  text-align: center;
}

.songlist {
  width: 35%;
  margin: 01px auto;
  padding: 5px;
  background: white;
  box-shadow: 0px 1px 2px 0px gray;
}

#list {
  list-style: none;
}

#list li {
  padding: 5px;
  margin: 5px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

#list li:hover {
  background: lightgray;
}

#list li:active {
  background: gray;
}

.toggle-list {
  display: flex;
  width: 100%;
}

.toggle-list h3 {
  margin: 0px 5px;
}

.toggle-list img {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin: 5px 0px;
}

footer {
  position: relative;
  bottom: 0%;
  left: 0%;
  border-top: 1px ridge gray;
  padding: 5px 0px;
  margin: 10px auto 0px;
  width: 100%;
  background: lightgray;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .audio_container {
    width: 90%;
  }
  #song_image {
    margin: 0px 5px;
    padding: 0px 5px;
  }

  .songlist {
    width: 90%;
  }

  #autoplay,
  #shuffle {
    margin: 0px 5px;
  }

  .volume {
    display: none;
  }

  .volume-media {
    display: flex;
    justify-content: center;
  }

  footer {
    position: relative;
  }

  .duration {
    box-shadow: 0px 0.5px 2px 0px gray;
  }
}

@media (min-width: 500px) and (max-width: 1024px) {
  .audio_container,
  .songlist {
    width: 50%;
  }

  #autoplay,
  #shuffle {
    margin: 0px 2px;
  }

  .volume {
    display: none;
  }

  .volume-media {
    display: flex;
    justify-content: center;
  }
}

@media (min-height: 900px) and (max-height: 3450px) {
  footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
  }
}
